@use "./abstracts/index" as *;
@use "./components/index" as *;


// Global styles



:root {
	font-size: 20px;
	font-family: "Arial", Tahoma, Geneva, Verdana, sans-serif;

	
	--color-white-rgb:					rgb(236, 209, 222);
	--color-white:							236, 209, 222;
	
	--color-black-rgb:					rgb(11, 38, 68);
	--color-black:							11, 38, 68;
	
	--color-red-rgb:						rgb(255, 63, 108);
	--color-red:								255, 63, 108;
	
	--color-blue-rgb:						rgb(65, 68, 255);
	--color-blue:								65, 68, 255;

	--color-purple-rgb:					rgb(35, 21, 60);
	--color-purple:							35, 21, 60;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	box-sizing: border-box;
	color: inherit;
}
*::before, *::after {box-sizing: border-box;}


html {
	color-scheme: dark;
	width: 100%;
	height: 100%;
}

body {
	@include display-flex(column, flex-start, center, 0);

	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 100%;
	color: rgb(var(--color-white));
	background-color: rgb(var(--color-black));
}

img, picture, svg, video {display: block;}

h1						{font-size: 1.9em;	font-weight: 700;	letter-spacing: 0px;}
h2						{font-size: 1.5em;	font-weight: 700;	letter-spacing: 0px;}
h3						{font-size: 1.1em;	font-weight: 600;	letter-spacing: 0px;}
h4						{font-size: 0.85em;	font-weight: 600;	letter-spacing: 0px;}
h5						{font-size: 0.75em;	font-weight: 600;	letter-spacing: 0px;}
p							{font-size: 0.85em;	line-height: 1.5;}
a							{color: inherit; text-decoration: underline;}


#root {
	@include display-flex(column, flex-start, center, 1rem);

	width: 100%;
	height: 100%;
	padding: 1rem;
}

.vanta-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	filter: blur(0.1rem);
	z-index: -10;
}

main {
	@include display-flex(column, flex-start, center, 1rem);

	width: 100%;
	height: 100%;
	padding: 0 1rem;
}
	
button, a.button {
	--background-alpha: 0.7;
	@include display-flex(row, center, center, 0.5rem);
	
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	color: rgb(var(--color-white));
	background-color: rgba(var(--color-red), var(--background-alpha));
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s ease-out;

	&:hover, &:active {
		--background-alpha: 1;
	}

	&:focus-visible {
		outline: 4px solid rgba(var(--color-red), 0.4);
	}
}

input {
	--background-alpha: 0.3;

	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	outline: 0px solid transparent;
	color: rgb(var(--color-black));
	background-color: rgba(var(--color-white), var(--background-alpha));
	transition: background-color 0.3s ease-out;

	&:hover {
		--background-alpha: 0.6;
	}
	&:focus {
		--background-alpha: 0.8;
	}

	&::placeholder {
		color: rgb(var(--color-black));
		opacity: 0.5;
		font-size: 0.8em;
	}
}

select {
	--background-alpha: 0.5;

	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	outline: 0px solid transparent;
	color: rgb(var(--color-black));
	background-color: rgba(var(--color-white), var(--background-alpha));
	transition: background-color 0.3s ease-out;

	&:hover {
		--background-alpha: 0.7;
	}
	&:focus {
		--background-alpha: 0.9;
	}
}