@use "./abstracts/index" as *;
@use "./components/index" as *;


// Global styles



:root {
	font-size: 20px;
	font-family: "Arial", Tahoma, Geneva, Verdana, sans-serif;

	
	--color-white-rgb:					rgb(236, 209, 222);
	--color-white:							236, 209, 222;
	
	--color-black-rgb:					rgb(11, 38, 68);
	--color-black:							11, 38, 68;
	
	--color-red-rgb:						rgb(255, 63, 108);
	--color-red:								255, 63, 108;
	
	--color-green-rgb:					rgb(38, 228, 20);
	--color-green:							38, 228, 20;
	
	--color-blue-rgb:						rgb(65, 68, 255);
	--color-blue:								65, 68, 255;
	
	--color-yellow-rgb:					rgb(255, 252, 65);
	--color-yellow:							255, 252, 65;

	--color-purple-rgb:					rgb(35, 21, 60);
	--color-purple:							35, 21, 60;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	box-sizing: border-box;
	color: inherit;
}
*::before, *::after {box-sizing: border-box;}


html {
	color-scheme: dark;
	width: 100%;
	height: 100%;
}

body {
	@include display-flex(column, flex-start, center, 0);

	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 100%;
	color: rgb(var(--color-white));
	background-color: rgb(var(--color-black));
}

img, picture, svg, video {display: block;}

h1						{font-size: 1.9em;	font-weight: 700;	letter-spacing: 0px;}
h2						{font-size: 1.5em;	font-weight: 700;	letter-spacing: 0px;}
h3						{font-size: 1.1em;	font-weight: 600;	letter-spacing: 0px;}
h4						{font-size: 0.85em;	font-weight: 600;	letter-spacing: 0px;}
h5						{font-size: 0.75em;	font-weight: 600;	letter-spacing: 0px;}
p							{font-size: 0.85em;	line-height: 1.5;}
a							{color: inherit; text-decoration: underline;}


#root {
	@include display-flex(column, flex-start, center, 1rem);

	width: 100%;
	height: 100%;
	padding: 1rem;
}

.vanta-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	filter: blur(0.1rem);
	z-index: -10;
}

main {
	@include display-flex(column, flex-start, center, 1rem);

	width: 100%;
	height: 100%;
	padding: 0 1rem;
}


.talk-list {
	@include display-flex(row, center, flex-start, 1rem);
	flex-direction: row;
	flex-wrap: wrap;
	
	.talk-card {
		--shadow-color: 0,0,0;
		--shadow-alpha: 1;
		
		@include display-flex(column, flex-start, flex-start, 0.5rem);
		
		position: relative;
		flex: 1;
		max-width: 50%;
		min-width: 20rem;
		padding: 1rem;
		border-radius: 1rem;
		color: rgb(var(--color-white));
		background: #000 url(../assets/card-background.jpg) left center/auto no-repeat local;
		text-shadow: 0 0 0.5rem rgba(0,0,0, 1);
		overflow: hidden;
		cursor: pointer;

		&:hover, &:active {
			--shadow-alpha: 0.5;
			--shadow-color: var(--color-red);
		}

		> * {
			z-index: 1;
		}

		&::before {
			position: absolute;
			content: "";
			inset: 0;
			background-color: rgb(var(--shadow-color));
			mask-image: linear-gradient(to top, white, transparent);
			z-index: 0;
			opacity: var(--shadow-alpha);
			transition:
				background-color 0.3s ease-out,
				opacity 0.3s ease-out,
			;
		}
	}

	.status {
		--status-color: var(--color-white);
		
		font-size: 0.9em;
		font-weight: 500;
		padding: 0.25rem 0.5rem;
		border-radius: 0.25rem;
		width: fit-content;
		color: rgba(var(--status-color));
		background-color: rgba(var(--status-color), 0.2);

		&.en-attente {
			--status-color: var(--color-yellow);
		}

		&.accepté {
			--status-color: var(--color-green);
		}

		&.refusé {
			--status-color: var(--color-red);
		}
	}
}

.filters {
	@include display-flex(row, center, center, 1rem);
	flex-wrap: wrap;

	width: 100%;
	margin-bottom: 1rem;

	select {
		padding: 0.5rem 1rem;
		border-radius: 2rem;
		border: none;
		outline: transparent;
		color: rgb(var(--color-white));
		background-color: rgb(var(--color-white), 0.2);
		backdrop-filter: blur(0.25rem) brightness(1);

		option {
			background-color: rgb(var(--color-black));
		}
	}

	button.filter {
		padding: 0.5rem 1rem;
		border-radius: 2rem;
		border: none;
		outline: transparent;
		color: rgb(var(--color-white));
		background-color: rgb(var(--color-white), 0.2);
		backdrop-filter: blur(0.25rem) brightness(1);

		&[selected] {
			background-color: rgb(var(--color-red), 0.7);
		}
	}
}
	
button, a.button {
	--background-alpha: 0.7;
	@include display-flex(row, center, center, 0.5rem);
	
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	color: rgb(var(--color-white));
	background-color: rgba(var(--color-red), var(--background-alpha));
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s ease-out;

	&:hover, &:active {
		--background-alpha: 1;
	}

	&:focus-visible {
		outline: 4px solid rgba(var(--color-red), 0.4);
	}
}

input, textarea {
	--background-alpha: 0.3;

	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	outline: 0px solid transparent;
	color: rgb(var(--color-black));
	background-color: rgba(var(--color-white), var(--background-alpha));
	transition: background-color 0.3s ease-out;

	&:hover {
		--background-alpha: 0.6;
	}
	&:focus {
		--background-alpha: 0.8;
	}

	&::placeholder {
		color: rgb(var(--color-black));
		opacity: 0.5;
		font-size: 0.8em;
	}
}

select, input[type="date"], input[type="time"] {
	--background-alpha: 0.5;

	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	outline: 0px solid transparent;
	color: rgb(var(--color-black));
	background-color: rgba(var(--color-white), var(--background-alpha));
	transition: background-color 0.3s ease-out;

	&:hover {
		--background-alpha: 0.7;
	}
	&:focus {
		--background-alpha: 0.9;
	}
}

details {
	--background-alpha: 0.4;

	border-radius: 1rem;
	color: rgb(var(--color-black));
	background-color: rgba(var(--color-white), var(--background-alpha));
	transition: background-color 0.3s ease-out;

	&:hover {
		--background-alpha: 0.5;
	}

	> summary {
		padding: 0.5rem 1rem;
		font-size: 1.1em;
		font-weight: 600;
		cursor: pointer;
	}

	> .content {
		@include display-flex(column, center, stretch, 0);

		padding: 1rem;
	}
}