@use "../abstracts/" as *;

.header {
	@include display-flex(row, space-between, center, 1rem);

	width: 100%;
	padding: 1rem;
	border-radius: 1rem;
	background-color: rgba(var(--color-white), 0.2);
	backdrop-filter: blur(0.25rem) brightness(1);
	box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);

	nav {
		display: flex;
		gap: 1rem;

		a {
			text-decoration: none;
			color: rgb(var(--color-white));
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.auth-buttons {
		@include display-flex(row, center, center, 0.5rem);
	}
}