@use "../abstracts/" as *;

.planning-page {
	@include display-flex(column, flex-start, stretch, 1rem);

	width: 100%;

	h1 {
		color: rgb(var(--color-red));
		text-shadow: 0 0 2rem rgba(0,0,0, 1);
	}
}