@use "../abstracts/" as *;

.talks-page {
	@include display-flex(column, flex-start, stretch, 1rem);

	width: 100%;

	h1 {
		color: rgb(var(--color-red));
		text-shadow: 0 0 2rem rgba(0,0,0, 1);
	}
}

.talk-form {
	@include display-flex(column, flex-start, stretch, 1rem);

	.row {
		@include display-flex(row, flex-start, flex-start, 1rem);

		> * {
			flex: 1;
		}
	}

	button {
		background-color: rgba(var(--color-blue), var(--background-alpha));
	}

	.error {
		padding: 0.25rem 0.5rem;
		border-radius: 0.5rem;
		font-weight: 600;
		color: rgb(var(--color-black));
		background-color: rgb(var(--color-red), 0.5);
	}

	.success {
		padding: 0.25rem 0.5rem;
		border-radius: 0.5rem;
		font-weight: 600;
		color: rgb(var(--color-black));
		background-color: rgb(var(--color-green), 0.5);
	}
}